bp-output.txt
{"flow":[{"id":3,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"create record"}}},"designer":{"x":0,"y":0},"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":1801689,"maxResults":1}},{"id":8,"mapper":{"url":"https://admin.memberstack.com/members/{{3.id}}","method":"get","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"Empty"},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"chose"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"designer":{"x":300,"y":0,"name":"Bring member data"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":9,"mapper":{"url":"https://admin.memberstack.com/members/{{8.data.data.id}}","method":"patch","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"jsonStringBodyContent":"{\r\n  \"customFields\": {\r\n    \"phone\": \"{{3.phone}}\",\r\n    \"first-name\": \"{{3.name}}\",\r\n    \"last-name\": \"{{3.last_name}}\",\n    \"gender\": \"{{3.sex}}\",\n    \"location\": \"{{3.location}}\",\n    \"birthday\": \"{{3.birthday}}\",\n    \"marital-status\": \"{{3.marital_status}}\"\r\n  }\r\n}","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true,"validate":{"enum":["dataStructure","jsonString"]}},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"application/jsonEnter data in the JSON format, as a string or using a data structure."},"inputMethod":{"label":"JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"chose"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"designer":{"x":600,"y":0,"name":"Update member data"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":16,"mapper":{"url":"https://admin.memberstack.com/members/{{9.data.data.id}}/add-plan","method":"post","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"jsonStringBodyContent":"{\r\n   \"planId\": \"pln_members-5kbh0gjx\"\r\n}\r\n​","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true,"validate":{"enum":["dataStructure","jsonString"]}},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"application/jsonEnter data in the JSON format, as a string or using a data structure."},"inputMethod":{"label":"JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"chose"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"designer":{"x":900,"y":0,"name":"Add Pending Plan"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":10,"mapper":{"url":"https://admin.memberstack.com/v2/data-tables/member_profiles/records/query","method":"post","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":"{{false}}","jsonStringBodyContent":"\r\n{\r\n  \"query\": {\r\n    \"findMany\": {\r\n      \"where\": {\r\n        \"member_id\": {\r\n          \"equals\": \"{{8.data.data.id}}\"\r\n        }\r\n      },\r\n      \"take\": 1\r\n    }\r\n  }\r\n}\r\n\r\n\r\n\n    \r\n  ","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true,"validate":{"enum":["dataStructure","jsonString"]}},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"application/jsonEnter data in the JSON format, as a string or using a data structure."},"inputMethod":{"label":"JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"edit"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"advanced":true,"designer":{"x":1200,"y":0,"name":"Get data table record"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":2,"filter":{"name":"New record","conditions":[[{"a":"{{10.data.data.records[].id}}","o":"notexist"}]]},"mapper":{"url":"https://admin.memberstack.com/v2/data-tables/member_profiles/records","method":"post","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"jsonStringBodyContent":"{\r\n  \"data\": {\r\n    \"email\": \"{{9.data.data.auth.email}}\",\r\n    \"member_id\": \"{{9.data.data.id}}\",\r\n   \r\n    \"where_are_you_on_your_path\": \"{{3.where_are_you_on_your_path}}\",\r\n    \"how_can_we_support_you\": \"{{3.how_can_we_support_you}}\",\r\n    \"community_and_contribution\": \"{{3.community_and_contribution}}\",\n\r\n \"skills_to_share\": \"{{3.`skill-you-can-share`}}\",\r\n    \"how_did_you_hear_about_the_house_of_more\": \"{{3.how_did_you_hear_about_the_house_of_more}}\",\r\n    \"what_draws_you_to_the_house_of_more\": \"{{3.what_draws_you_to_the_house_of_more}}\",\r\n    \"have_you_been_with_the_house_of_more\": \"{{3.have_you_been_with_the_house_of_more}}\",\r\n    \"how_many_events_have_you_attended_at_the_hom\": \"{{3.how_many_events_have_you_attended_at_the_hom}}\",\r\n    \"how_many_events_per_month_can_you_participate\": \"{{3.how_many_events_per_month_can_you_participate}}\",\r\n\r\n    \"is_there_anything_else\": \"{{3.is_there_anything_else}}\",\r\n    \"do_you_feel_aligned_with_the_house_of_more\": \"{{3.do_you_feel_aligned_with_the_house_of_more}}\",\r\n    \"i_commit_to_respecting_the_house_of_more\": \"{{3.i_commit_to_respecting_the_house_of_more}}\",\r\n\r\n  \r\n    \"date_of_request\": \"{{now}}\"\r\n  }\r\n}\r\n","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true,"validate":{"enum":["dataStructure","jsonString"]}},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"application/jsonEnter data in the JSON format, as a string or using a data structure."},"inputMethod":{"label":"JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"chose"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"designer":{"x":1500,"y":0,"name":"Create a data table record"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":19,"mapper":{"url":"https://admin.memberstack.com/v2/data-tables/member_profiles/records/{{2.data.data.id}}","method":"put","headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"sk_sb_4e7ab0a86046c93dbf5c"}],"contentType":"json","inputMethod":"jsonString","shareCookies":false,"parseResponse":true,"allowRedirects":true,"stopOnHttpError":true,"jsonStringBodyContent":"{\r\n  \"data\": {\r\n    \"profile_record_id\":\"{{2.data.data.id}}\"   \r\n  }\r\n}\r\n","requestCompressedContent":true},"module":"http:MakeRequest","version":4,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true,"validate":{"pattern":"^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"}},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Header"},"type":"array","label":"Headers"},{"name":"queryParameters","spec":{"name":"value","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Parameter"},"type":"array","label":"Query parameters"},{"name":"contentType","type":"select","label":"Body content type","validate":{"enum":["json","multipart","urlEncoded","custom"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"stopOnHttpError","type":"boolean","label":"Return error if HTTP request fails","required":true},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"allowRedirects","type":"boolean","label":"Allow redirects","required":true},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"requestCompressedContent","type":"boolean","label":"Request compressed content","required":true},{"name":"inputMethod","type":"select","label":"Body input method","required":true,"validate":{"enum":["dataStructure","jsonString"]}},{"name":"jsonStringBodyContent","type":"text","label":"Body content","required":true},{"name":"paginationType","type":"select","label":"Pagination type","validate":{"enum":["offsetBased","pageBased","urlBased","tokenBased"]}}],"restore":{"expect":{"method":{"mode":"chose","label":"PUT"},"headers":{"mode":"chose","items":[null,null]},"contentType":{"label":"application/jsonEnter data in the JSON format, as a string or using a data structure."},"inputMethod":{"label":"JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."},"shareCookies":{"mode":"chose"},"parseResponse":{"mode":"chose"},"allowRedirects":{"mode":"chose"},"paginationType":{"label":"Empty"},"queryParameters":{"mode":"chose"},"stopOnHttpError":{"mode":"chose"},"requestCompressedContent":{"mode":"chose"}},"parameters":{"tlsType":{"label":"Empty"},"proxyKeychain":{"label":"Choose a key"},"authenticationType":{"label":"No authenticationUse when no credentials are required for the request."}}},"advanced":true,"designer":{"x":1800,"y":0,"name":"Update data table record"},"interface":[{"name":"data","type":"any","label":"Data"},{"name":"statusCode","type":"number","label":"Status Code"},{"name":"headers","spec":[{"name":"content-length","type":"text","label":"Content-Length"},{"name":"content-encoding","type":"text","label":"Content-Encoding"},{"name":"content-type","type":"text","label":"Content-Type"},{"name":"server","type":"text","label":"Server"},{"name":"cache-control","type":"text","label":"Cache-Control"},{"name":"set-cookie","spec":{"type":"text"},"type":"array","label":"Set-Cookie"}],"type":"collection","label":"Headers"}],"parameters":[{"name":"authenticationType","type":"select","label":"Authentication type","required":true,"validate":{"enum":["noAuth","apiKey","basicAuth","oAuth"]}},{"name":"tlsType","type":"select","label":"Transport layer security (TLS)","validate":{"enum":["mTls","tls"]}},{"name":"proxyKeychain","type":"keychain:proxy","label":"Proxy"}]},"parameters":{"tlsType":"","proxyKeychain":"","authenticationType":"noAuth"},"onerror":[{"directive":"ignore"}]},{"id":18,"mapper":{"to":["{{2.data.data.data.email}}"],"from":"\"The House of More\" <info@thehouseofmore.com>","content":"<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f2f2f2; padding:40px 0;\">\r\n  <tr>\r\n    <td align=\"center\">\r\n\r\n      <table width=\"500\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"center\"\r\n        style=\"background-color:#ffffff; border-radius:10px; overflow:hidden;\">\r\n\r\n        <!-- Top Header -->\r\n        <tr>\r\n          <td align=\"center\" style=\"background-color:#2b1f14; padding:24px 40px;\">\r\n            <div style=\"font-family:Georgia, serif; font-size:22px; color:#ffffff; letter-spacing:1px;\">\r\n              THE HOUSE OF MORE\r\n            </div>\r\n            <a href=\"https://thehouseofmore.com\"\r\n               style=\"color:#946a49 !important; text-decoration:none; font-family:Arial, sans-serif; font-size:12px;\">\r\n               thehouseofmore.com\r\n            </a>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:36px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Section Label -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Arial, sans-serif; font-size:12px; letter-spacing:2px; color:#8c7a64;\">\r\n              MEMBERSHIP APPLICATION\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:14px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Main Title -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Georgia, serif; font-size:26px; color:#2b2b2b; line-height:34px;\">\r\n              We've received your application.\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:20px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Body Text -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Arial, sans-serif; font-size:14px; color:#5c5c5c; line-height:22px;\">\r\n              Dear {{3.name}},\r\n              <br><br>\r\n              Your application to join The House of More has been received, and our team will review it shortly.\r\n              <br><br>\r\n              Every membership is reviewed personally, and we will be in touch within 7 to 10 business days.\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:30px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Divider -->\r\n        <tr>\r\n          <td style=\"padding:0 50px;\">\r\n            <hr style=\"border:none; border-top:1px solid #e5ded4;\">\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:24px;\"></td>\r\n        </tr>\r\n\r\n        <!-- What Happens Next -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Georgia, serif; font-size:18px; color:#2b2b2b; line-height:26px;\">\r\n              What happens next?\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:14px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Body Text -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Arial, sans-serif; font-size:14px; color:#5c5c5c; line-height:22px;\">\r\n              Our team will review your application and reach out to you at this email address with a decision.\r\n              <br><br>\r\n              In the meantime, feel free to explore our upcoming experiences at\r\n              <a href=\"https://thehouseofmore.com\" style=\"color:#946a49; text-decoration:none;\">\r\n                thehouseofmore.com</a>.\r\n              <br><br>\r\n              If you have any questions, simply reply to this email and a member of our team will get back to you.\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:40px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Closing -->\r\n        <tr>\r\n          <td align=\"left\" style=\"padding:0 50px;\">\r\n            <div style=\"font-family:Arial, sans-serif; font-size:14px; color:#2b2b2b; line-height:22px;\">\r\n              <em>With warmth,</em><br>\r\n              <strong>The House of More Team</strong>\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n        <!-- Spacer -->\r\n        <tr>\r\n          <td style=\"height:48px;\"></td>\r\n        </tr>\r\n\r\n        <!-- Bottom Footer -->\r\n        <tr>\r\n          <td align=\"center\" style=\"background-color:#f7f3ed; padding:18px;\">\r\n            <div style=\"font-family:Arial, sans-serif; font-size:12px; color:#8c7a64;\">\r\n              © House of More 2026\r\n            </div>\r\n          </td>\r\n        </tr>\r\n\r\n      </table>\r\n\r\n    </td>\r\n  </tr>\r\n</table>","subject":"We received your application — welcome to the start of something meaningful","bodyType":"rawHtml"},"module":"google-email:sendAnEmail","version":4,"metadata":{"expect":[{"name":"to","spec":{"name":"value","type":"email","label":"Recipient email address","required":true,"validate":true},"type":"array","label":"To","required":true},{"name":"subject","type":"text","label":"Subject"},{"name":"bodyType","type":"select","label":"Body type","required":true,"validate":{"enum":["rawHtml","collection"]}},{"name":"attachments","spec":{"name":"value","spec":[{"name":"filename","type":"filename","label":"File name","required":true,"semantic":"file:name"},{"name":"data","type":"buffer","label":"Data","required":true,"semantic":"file:data"}],"type":"collection","label":"Attachment"},"type":"array","label":"Attachments"},{"name":"from","type":"select","label":"From"},{"name":"cc","spec":{"name":"value","type":"email","label":"Recipient email address","required":true},"type":"array","label":"CC recipients"},{"name":"bcc","spec":{"name":"value","type":"email","label":"Recipient email address","required":true},"type":"array","label":"BCC recipients"},{"name":"emailHeaders","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}],"type":"collection","label":"Email header"},"type":"array","label":"Additional email headers"},{"name":"content","type":"text","label":"Content"}],"restore":{"expect":{"cc":{"mode":"chose"},"to":{"mode":"chose","items":[null]},"bcc":{"mode":"chose"},"from":{"mode":"chose","label":"\"The House of More\" <info@thehouseofmore.com>"},"bodyType":{"label":"Raw HTML"},"attachments":{"mode":"chose"},"emailHeaders":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google-email"},"label":"HOM gmail (info@thehouseofmore.com)"}}},"advanced":true,"designer":{"x":2100,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google-email","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":7413187},"onerror":[{"directive":"ignore"}]}],"name":"A -  Questionnaire - Create a member","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"2":{"data":{"data":{"id":"cmmapwn780005oa0sth5w4907","data":{"email":"nico8a54@hotmail.com","member_id":"mem_sb_cmk4m9u1m0er30snm4pzj8cly","approved_date":null,"date_of_request":"2026-03-03T14:43:16.625Z","skill_you_can_share":null,"how_can_we_support_you":"Individual Guidance and Mentorship / Career and Financial Mindset","is_there_anything_else":"Not really","community_and_contribution":"Volunteering at the House (event setup, event support, or on-site help) / A specific skill or talent...","where_are_you_on_your_path":"exploring","what_draws_you_to_the_house_of_more":"Curiosity","have_you_been_with_the_house_of_more":"yes","how_did_you_hear_about_the_house_of_more":"A friend of mine","i_commit_to_respecting_the_house_of_more":true,"do_you_feel_aligned_with_the_house_of_more":"yes","how_many_events_have_you_attended_at_the_hom":"1-3","how_many_events_per_month_can_you_participate":"4-6"},"tableKey":"member_profiles","createdAt":"2026-03-03T14:43:16.724Z","updatedAt":"2026-03-03T14:43:16.724Z","internalOrder":11706}},"headers":{"date":"Tue, 03 Mar 2026 14:43:16 GMT","etag":"W/\"42b-19qgZ6NomST+lefWU2NqAsSpGmE\"","vary":"Origin","cf-ray":"9d69699d28d6c5a5-IAD","server":"cloudflare","connection":"keep-alive","content-type":"application/json; charset=utf-8","cf-cache-status":"DYNAMIC","ratelimit-limit":"25","ratelimit-reset":"1","referrer-policy":"no-referrer","x-frame-options":"SAMEORIGIN","ratelimit-policy":"25;w=1","x-xss-protection":"0","transfer-encoding":"chunked","x-download-options":"noopen","ratelimit-remaining":"24","origin-agent-cluster":"?1","x-content-type-options":"nosniff","x-dns-prefetch-control":"off","content-security-policy":"default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors '...","strict-transport-security":"max-age=31536000; includeSubDomains","cross-origin-opener-policy":"same-origin","cross-origin-resource-policy":"same-origin","access-control-expose-headers":"ms-mid","access-control-allow-credentials":"true","x-permitted-cross-domain-policies":"none"},"statusCode":200},"3":{"id":"mem_sb_cmlpfkqy00s5s0soe9mdk7us6","sex":"Male","name":"Ryan","email":"ryan@scarlettrow.com","phone":"3058511822","birthday":"1984-05-06","location":"7401 Wiles Rd","last_name":"Carter ","marital_status":"married","application_status":"pending","skill-you-can-share":"","how_can_we_support_you":"Individual Guidance and Mentorship","is_there_anything_else":"Connection","community_and_contribution":"Facilitation, mentorship, or guidance","where_are_you_on_your_path":"exploring","what_draws_you_to_the_house_of_more":"Connection","have_you_been_with_the_house_of_more":"no","how_did_you_hear_about_the_house_of_more":"Friend","i_commit_to_respecting_the_house_of_more":"YES","do_you_feel_aligned_with_the_house_of_more":"yes","how_many_events_per_month_can_you_participate":"4-6"},"8":{"data":{"data":{"id":"mem_sb_cmlpfkqy00s5s0soe9mdk7us6","auth":{"email":"ryan@scarlettrow.com"},"metaData":{},"verified":true,"createdAt":"2026-02-16T17:10:55.849Z","lastLogin":"2026-02-16T17:10:55.847Z","permissions":[],"customFields":{"":"false","phone":"3058511822","gender":"Male","birthday":"1984-05-06","location":"7401 Wiles Rd","last-name":"Carter ","first-name":"Ryan","marital-status":"married"},"profileImage":"https://lh3.googleusercontent.com/a-/ALV-UjUx8ZhopDWQNbQoopvhk3DjPCbCN7vmTPOm8S0WzKG4aWxhGPOHXsWjHpq...","loginRedirect":null,"planConnections":[],"stripeCustomerId":null}},"headers":{"date":"Mon, 16 Feb 2026 17:17:26 GMT","etag":"W/\"64b-fSqHmKEEpbJuS7nKYl2vllTYRwA\"","vary":"Origin","cf-ray":"9ceeb2d31e14343f-IAD","server":"cloudflare","connection":"keep-alive","content-type":"application/json; charset=utf-8","cf-cache-status":"DYNAMIC","ratelimit-limit":"25","ratelimit-reset":"1","referrer-policy":"no-referrer","x-frame-options":"SAMEORIGIN","ratelimit-policy":"25;w=1","x-xss-protection":"0","transfer-encoding":"chunked","x-download-options":"noopen","ratelimit-remaining":"24","origin-agent-cluster":"?1","x-content-type-options":"nosniff","x-dns-prefetch-control":"off","content-security-policy":"default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors '...","strict-transport-security":"max-age=31536000; includeSubDomains","cross-origin-opener-policy":"same-origin","cross-origin-resource-policy":"same-origin","access-control-expose-headers":"ms-mid","access-control-allow-credentials":"true","x-permitted-cross-domain-policies":"none"},"statusCode":200},"9":{"data":{"data":{"id":"mem_sb_cmlpfkqy00s5s0soe9mdk7us6","auth":{"email":"ryan@scarlettrow.com"},"metaData":{},"verified":true,"createdAt":"2026-02-16T17:10:55.849Z","lastLogin":"2026-02-16T17:10:55.847Z","permissions":[],"customFields":{"":"false","phone":"3058511822","gender":"Male","birthday":"1984-05-06","location":"7401 Wiles Rd","last-name":"Carter ","first-name":"Ryan","marital-status":"married"},"profileImage":"https://lh3.googleusercontent.com/a-/ALV-UjUx8ZhopDWQNbQoopvhk3DjPCbCN7vmTPOm8S0WzKG4aWxhGPOHXsWjHpq...","loginRedirect":null,"planConnections":[],"stripeCustomerId":null}},"headers":{"date":"Mon, 16 Feb 2026 17:17:26 GMT","etag":"W/\"64b-fSqHmKEEpbJuS7nKYl2vllTYRwA\"","vary":"Origin","cf-ray":"9ceeb2d37d223b4d-IAD","server":"cloudflare","connection":"keep-alive","content-type":"application/json; charset=utf-8","cf-cache-status":"DYNAMIC","ratelimit-limit":"25","ratelimit-reset":"1","referrer-policy":"no-referrer","x-frame-options":"SAMEORIGIN","ratelimit-policy":"25;w=1","x-xss-protection":"0","transfer-encoding":"chunked","x-download-options":"noopen","ratelimit-remaining":"23","origin-agent-cluster":"?1","x-content-type-options":"nosniff","x-dns-prefetch-control":"off","content-security-policy":"default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors '...","strict-transport-security":"max-age=31536000; includeSubDomains","cross-origin-opener-policy":"same-origin","cross-origin-resource-policy":"same-origin","access-control-expose-headers":"ms-mid","access-control-allow-credentials":"true","x-permitted-cross-domain-policies":"none"},"statusCode":200},"10":{"data":{"data":{"records":[],"pagination":{"limit":1,"hasMore":false}}},"headers":{"date":"Mon, 16 Feb 2026 17:17:27 GMT","etag":"W/\"40-G7eqV57p5RoHKRqbkvEgZtdnb6I\"","vary":"Origin","cf-ray":"9ceeb2d4ba78c934-IAD","server":"cloudflare","connection":"keep-alive","content-type":"application/json; charset=utf-8","cf-cache-status":"DYNAMIC","ratelimit-limit":"25","ratelimit-reset":"1","referrer-policy":"no-referrer","x-frame-options":"SAMEORIGIN","ratelimit-policy":"25;w=1","x-xss-protection":"0","transfer-encoding":"chunked","x-download-options":"noopen","ratelimit-remaining":"21","origin-agent-cluster":"?1","x-content-type-options":"nosniff","x-dns-prefetch-control":"off","content-security-policy":"default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors '...","strict-transport-security":"max-age=31536000; includeSubDomains","cross-origin-opener-policy":"same-origin","cross-origin-resource-policy":"same-origin","access-control-expose-headers":"ms-mid","access-control-allow-credentials":"true","x-permitted-cross-domain-policies":"none"},"statusCode":200},"16":{"data":"OK","headers":{"date":"Mon, 16 Feb 2026 17:17:27 GMT","etag":"W/\"2-nOO9QiTIwXgNtWtBJezz8kv3SLc\"","vary":"Origin","cf-ray":"9ceeb2d3ec79ed75-IAD","server":"cloudflare","connection":"keep-alive","content-type":"text/plain; charset=utf-8","cf-cache-status":"DYNAMIC","ratelimit-limit":"25","ratelimit-reset":"1","referrer-policy":"no-referrer","x-frame-options":"SAMEORIGIN","ratelimit-policy":"25;w=1","x-xss-protection":"0","transfer-encoding":"chunked","x-download-options":"noopen","ratelimit-remaining":"22","origin-agent-cluster":"?1","x-content-type-options":"nosniff","x-dns-prefetch-control":"off","content-security-policy":"default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors '...","strict-transport-security":"max-age=31536000; includeSubDomains","cross-origin-opener-policy":"same-origin","cross-origin-resource-policy":"same-origin","access-control-expose-headers":"ms-mid","access-control-allow-credentials":"true","x-permitted-cross-domain-policies":"none"},"statusCode":200},"18":{"id":"19c677503697b9fd","labelIds":["SENT"],"threadId":"19c677503697b9fd","sysFolders":[{"id":"SENT","name":"Sent"}]}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}},"scheduling":{"type":"immediately","maximum_runs_per_minute":100},"interface":{"input":[],"output":[]}}